# general env

{{ $1PSockPath := "" -}}
{{ if eq .chezmoi.os "linux" -}}
{{ $1PSockPath = "~/.1password/agent.sock" -}}
{{ else if eq .chezmoi.os "darwin" -}}
{{ $1PSockPath = "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock" -}}
# homebrew
export PATH="/opt/homebrew/bin:/opt/homebrew/sbin:$PATH"
{{- end }}
{{ if stat $1PSockPath -}}
export SSH_AUTH_SOCK={{ $1PSockPath }}
{{- end }}

export EDITOR="nvim"
export LANG=en_GB.UTF-8

# custom scripts
export PATH="$PATH:$HOME/.local/scripts:$HOME/.local/bin"

