[user]
	name = Ben Stuart
	email = {{ .email }}
[core]
	editor = nvim
	autocrlf = input
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
    autoSetupRemote = true
[alias]
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    af = !git-afforester
