# Configuration for Alacritty, a cross-platform terminal emulator
{{- $fontSize := "" -}}
{{ if eq .chezmoi.os "linux" -}}
{{ $fontSize = "12" }}
{{ else if eq .chezmoi.os "darwin" -}}
{{ $fontSize = "17" }}
{{- end }}
---
import:
  - ~/.config/alacritty/theme.yml
env:
  TERM: xterm-256color
shell:
  program: /bin/zsh
window:
  title: Terminal
  dynamic_padding: true
  padding:
    x: 4
selection:
  save_to_clipboard: true
font:
  normal:
    family: Hack Nerd Font Mono
  size: {{ $fontSize }}
